<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="script.bdcontrol">

    <category id="general" label="30200">
      <group id="1">
        <setting id="show_hint" type="boolean" label="30201">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="auto_open" type="boolean" label="30202" help="30262">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="osd_timeout" type="integer" label="30203">
          <level>0</level>
          <default>10</default>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>60</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="extended_disc_menus" type="boolean" label="30223" help="30263">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="seek_step" type="integer" label="30204">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>5</minimum>
            <step>5</step>
            <maximum>300</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
      </group>
    </category>

    <category id="keymap" label="30210">
      <group id="1">
        <setting id="keymap_enabled" type="boolean" label="30211" help="30261">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
      </group>
      <group id="2" label="30221">
        <setting id="assign_osd" type="action" label="30227" help="30264">
          <level>0</level>
          <data>RunScript(script.bdcontrol,action=assign,slot=osd)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="enable" setting="keymap_enabled" operator="is">true</dependency>
          </dependencies>
        </setting>
        <setting id="key_osd_code" type="string" label="30140">
          <level>0</level>
          <default></default>
          <control type="edit" format="string"/>
          <dependencies>
            <dependency type="enable" setting="keymap_enabled" operator="is">true</dependency>
          </dependencies>
        </setting>
        <setting id="key_osd_longpress" type="boolean" label="30143">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
          <dependencies>
            <dependency type="enable" setting="keymap_enabled" operator="is">true</dependency>
          </dependencies>
        </setting>

        <setting id="assign_discmenu" type="action" label="30228">
          <level>0</level>
          <data>RunScript(script.bdcontrol,action=assign,slot=discmenu)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="enable" setting="keymap_enabled" operator="is">true</dependency>
          </dependencies>
        </setting>
        <setting id="key_menu_code" type="string" label="30141">
          <level>0</level>
          <default></default>
          <control type="edit" format="string"/>
          <dependencies>
            <dependency type="enable" setting="keymap_enabled" operator="is">true</dependency>
          </dependencies>
        </setting>
        <setting id="key_menu_longpress" type="boolean" label="30143">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
          <dependencies>
            <dependency type="enable" setting="keymap_enabled" operator="is">true</dependency>
          </dependencies>
        </setting>
      </group>
      <group id="3">
        <setting id="show_keylog" type="action" label="30226">
          <level>0</level>
          <data>RunScript(script.bdcontrol,action=keylog)</data>
          <control type="button" format="action">
            <close>false</close>
          </control>
        </setting>
        <setting id="clear_keys" type="action" label="30229">
          <level>0</level>
          <data>RunScript(script.bdcontrol,action=clearkeys)</data>
          <control type="button" format="action">
            <close>false</close>
          </control>
        </setting>
      </group>
    </category>

    <category id="tools" label="30230">
      <group id="1">
        <setting id="open_osd" type="action" label="30231">
          <level>0</level>
          <data>RunScript(script.bdcontrol,action=show)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
        <setting id="open_disc_mode" type="action" label="30033">
          <level>0</level>
          <data>RunScript(script.bdcontrol,action=discmode)</data>
          <control type="button" format="action">
            <close>false</close>
          </control>
        </setting>
        <setting id="open_diagnostics" type="action" label="30034">
          <level>0</level>
          <data>RunScript(script.bdcontrol,action=diagnostics)</data>
          <control type="button" format="action">
            <close>false</close>
          </control>
        </setting>
        <setting id="log_diagnostics" type="action" label="30113">
          <level>0</level>
          <data>RunScript(script.bdcontrol,action=logdiagnostics)</data>
          <control type="button" format="action">
            <close>false</close>
          </control>
        </setting>
      </group>
    </category>

    <category id="advanced" label="30240">
      <group id="1">
        <setting id="debug_log" type="boolean" label="30241">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>

  </section>
</settings>
